@page "/Insertar"
@using Tarea7.Data;
@using System.Data.SqlClient;
@using System.Net;
@using Newtonsoft.Json;

<h2>Registrar Persona Vacunada</h2>

<input type="text" @bind-value="@Cedula" placeholder="Cedula" />
<br />
<br />
<input type="text" @bind-value="@Nombre" placeholder="Nombre" />
<br />
<br />
<input type="text" @bind-value="@Apellido" placeholder="Apellido" />
<br />
<br />
<input type="text" @bind-value="@FechaNacimiento" placeholder="Fecha de Nacimiento" />
<br />
<br />
<input type="text" @bind-value="@SignoZodiacal" placeholder="Signo Zodiacal" />
<br />
<br />
<input type="text" @bind-value="@Vacuna_Recibida" placeholder="Vacuna Recibida" />
<br />
<br />
<input type="text" @bind-value="@provincia" placeholder="Provincia" />
<br />
<br />
<input type="text" @bind-value="@Primera_Dosis" placeholder="Primera Dosis" />
<br />
<br />
<input type="text" @bind-value="@Segunda_Dosis" placeholder="Segunda Dosis" />
<br />
<br />
<input type="text" @bind-value="@latitud" placeholder="Latitud" />
<br />
<br />
<input type="text" @bind-value="@longitud" placeholder="Longitud" />
<br />
<br />
<button @onclick="ValidarCedula" class="btn btn-info btn-lg">Validar Cedula</button>
<br />
<br />
<button @onclick="RegistrarVacunado" class="btn btn-success btn-lg">Registrar Vacunado</button>
<br />
<br />
<a href="SegundaDosis" class="btn btn-secondary btn-lg">Registrar Segunda Dosis</a>

<p>
    <center>
        <h4>@exito</h4>
        <h4>@error</h4>
    </center>

</p>

@code {
    string Nombre, Apellido, Cedula, SignoZodiacal, Vacuna_Recibida;
    string exito, Primera_Dosis, Segunda_Dosis, latitud, longitud;
    DateTime FechaNacimiento;
    string error;

    string provincia;
    SqlConnection conexion = new SqlConnection("server= GABRIEL-PC\\SQLEXPRESS01; database = Tarea7; Integrated security = True");

    void RegistrarVacunado()
    {
        try
        {
            string query = "INSERT INTO Personas(Cedula, Nombre, Apellido, Fecha_Nacimiento, Signo_Zodiacal, Vacuna_Recibida, Provincia, Primera_Dosis, Latitud, Longitud) " +
                    "values (@Cedula, @Nombre, @Apellido, @Fecha_Nacimiento, @Signo_Zodiacal, @Vacuna_Recibida, @Provincia, @Primera_Dosis, @Latitud, @Longitud)";
            conexion.Open();
            SqlCommand comando = new SqlCommand(query, conexion);
            comando.Parameters.AddWithValue("@Cedula", Cedula);
            comando.Parameters.AddWithValue("@Nombre", Nombre);
            comando.Parameters.AddWithValue("@Apellido", Apellido);
            comando.Parameters.AddWithValue("@Fecha_Nacimiento", FechaNacimiento);
            comando.Parameters.AddWithValue("@Signo_Zodiacal", SignoZodiacal);
            comando.Parameters.AddWithValue("@Vacuna_Recibida", Vacuna_Recibida);
            comando.Parameters.AddWithValue("@Provincia", provincia);
            comando.Parameters.AddWithValue("@Primera_Dosis", Primera_Dosis);
            comando.Parameters.AddWithValue("@Latitud", latitud);
            comando.Parameters.AddWithValue("@Longitud", longitud);

            comando.ExecuteNonQuery();

            conexion.Close();
            exito = "¡¡Persona Registrada con Exito!!";
        }
        catch (Exception e)
        {
            error = e.Message;
        }


    }

    void ValidarCedula()
    {
        try
        {
            WebClient webcli = new WebClient();
            var api = "https://api.adamix.net/apec/cedula/" + Cedula;
            var datos = webcli.DownloadString(api);

            var resultados = JsonConvert.DeserializeObject<Root>(datos);
            if (Cedula == resultados.Cedula)
            {
                Nombre = resultados.Nombres;
                Apellido = resultados.Apellido1 + " " + resultados.Apellido2;
                FechaNacimiento = Convert.ToDateTime(resultados.FechaNacimiento);

            }

        }
        catch (Exception e)
        {
            error = e.Message;
        }
    }
}
