@page "/ListaVacunados"
@using System.Data;
@using System.Data.SqlClient;
@using Tarea7.Interfaces;
@inject IPersonaService PersonasSercive
@using DataAccessLibrary;

<h2>Personas Vacunadas</h2>
@if(personas == null)
{
    <p>Cargando...</p>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Signo Zodiacal</th>
                <th>Vacuna Recibida</th>
                <th>Provincia</th>
                <th>Primera Dosis</th>
                <th>Segunda Dosis</th>
                <th>Latitud</th>
                <th>Longitud</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var persona in personas)
            {
            <tr>
                <td>@persona.ID</td>
                <td>@persona.Cedula</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.Fecha_Nacimiento</td>
                <td>@persona.Signo_Zodiacal</td>
                <td>@persona.Vacuna_Recibida</td>
                <td>@persona.Provincia</td>
                <td>@persona.Primera_Dosis</td>
                <td>@persona.Segunda_Dosis</td>
                <td>@persona.Latitud</td>
                <td>@persona.Longitud</td>
            </tr>
            }
        </tbody>
    </table>
    <p>
        <h4>@error</h4>
    </p>
}

@code {
    string error;
    private IEnumerable<Personas> personas;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            personas = await PersonasSercive.GetAllPersonas();
        }
        catch(Exception e)
        {
            error = e.Message;
        }
    }
}
