@page "/Vacunados_Marca"
@using System.Data;
@using System.Data.SqlClient;
@using Tarea7.Interfaces;
@inject IPersonaService PersonasSercive
@using DataAccessLibrary;

<h2>Lista de Vacunados por Marca de Vacuna</h2>

<p>
    Inserte el Signo Zodiacal de la personas las cuales desea vizualisar
</p>
<input type="text" @bind-value="@marca" placeholder="Marca de vacuna" />
<br />
<br />
<button @onclick="Listar" class="btn btn-success btn-lg">BUSCAR</button>

<br />
<br />
@if (personas == null)
{
    <p>Cargando...</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Sizno Zodiacal</th>
                <th>Vacuna Recibida</th>
                <th>Provincia</th>
                <th>Primera Dosis</th>
                <th>Segunda Dosis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var persona in personas)
            {
                <tr>
                    <td>@persona.ID</td>
                    <td>@persona.Cedula</td>
                    <td>@persona.Nombre</td>
                    <td>@persona.Apellido</td>
                    <td>@persona.Fecha_Nacimiento</td>
                    <td>@persona.Signo_Zodiacal</td>
                    <td>@persona.Vacuna_Recibida</td>
                    <td>@persona.Provincia</td>
                    <td>@persona.Primera_Dosis</td>
                    <td>@persona.Segunda_Dosis</td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <h4>
            @error
        </h4>
    </p>
}

@code {
    string error, marca;
    private IEnumerable<Personas> personas;
    protected async Task Listar()
    {
        try
        {
            personas = await PersonasSercive.GetPersonasMarca(marca);
        }
        catch (Exception e)
        {
            error = e.Message;
        }
    }
}
